/*  
TODO
Mettre des minwidth et minheinght pour éviter les dingerie de mise en page
Mettre des bouton quie permette de passer a la section suivante ( genre au lieu de scroller



*/



body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

section{
    height: 100vh;
}


/*-----------------*/
.myself{
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*-----------------*/
.present{
    align-self: center;
    width: 60%;
}

.im{
    font-size: 3em;
    padding-left: 10%;
}
.prenom{
    font-size: 10em;
}
.desc{
    font-size: 3em;
}

/*-----------------*/
.social-media{
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}

.media{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-name {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    
}

.media img {
    width: 100%;
}

/*-----------------*/

.projects {
    display: flex;
    flex-direction: row;
    background-color: yellow;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 8em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.projects-list{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*-----------------*/
.project {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
}

.project-name{
    margin-left: 5%;
    font-size: 3em;
    grid-column: 1/2;
    grid-row: 1/2;
}


.project-description{
    font-size: 1.5em;
    grid-column: 1/2;
    grid-row: 2/3;
}

.project-preview{
    width: 100px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

/*-----------------*/
.skills{
    background-color: orange;
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
}

.skills-list{
    border-color: black;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 3%;
}

/*-----------------*/
.skill{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
}

.skill-name{
    font-size: 1.5em;
    text-align: center;
}

.skill img{
    width: 100px;
}

.skill-more{
    text-wrap: wrap;
}
/*-----------------*/
/*-----------------*/


/*-----------------*/
footer{
    height: 40vh;
    background-color: lightgreen;
}


* {
    border: solid red 2px;
}