/*  
TODO
Mettre des minwidth et minheinght pour éviter les dingerie de mise en page
Mettre des bouton quie permette de passer a la section suivante ( genre au lieu de scroller

*/

/* * {
    border: solid red 2px;
} */

:root{
    --background-dark:#111725;
    --background-dark-2:#172448;
    --background-light:#F7F9FF;
    
    --side-light:#BDD1FF;
    
    --font-dark:#1D2E5C;
    --font-light:#D5E2FF;
    --font-light-2:#93B4FF;
    
    --interactive-light:#EDF2FE;
    --interactive-light-2:#DFEAFF;
    
    --border:#375098;

    /* Garder une couleur du style le orange degeulasse que j'ai mis pour skill */

    --transparent:rgba(0, 0, 0, 0);
    --white : #EEEEF0;

}

@font-face {
    font-family: 'Diastema regular';
    src: url('font/diastema/Diastema\ Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik regular';
    src: url('font/rubik/Rubik-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik regular';
}

section{
    height: 100vh;
}

h2 {
    font-family: 'Diastema Regular';
    margin: 0;
    text-align: center;
    font-size: 8em;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

h3 {
    font-family: 'Diastema Regular';
}

/*-----------------*/
.myself{
    background: linear-gradient(45deg, var(--background-dark),var(--background-dark-2));
    color: var(--font-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

/*-----------------*/
.present{
    align-self: center;
    width: 60%;
}

.im{
    font-size: 3em;
    padding-left: 10%;
}
.prenom{
    font-size: 10em;
    font-family: 'Diastema regular';
    color: var(--font-light-2);
    margin: -20px 0 0 0;
}

.desc{
    font-size: 1.8em;
}



/*-----------------*/
.social-media{
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
}

.media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-name {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    
}

.media img {
    width: 40px;
    padding: 10px;
    border: solid 2px var(--border);
    background-color: var(--font-light-2);
    border-radius: 100%;
}

/*-----------------*/

.projects {
    background-color: var(--background-light);
    color: var(--font-dark);
    display: flex;
    flex-direction: row;
}

.projects h2{
    background-color:var(--side-light);
}

.projects-list{
    margin-left: 20px;
    margin-right: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*-----------------*/
.project {
    background-color: var(--interactive-light);
    transition: 1s;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 50%;
    padding: 0px 30px;
    border-radius: 15px;
}

.project:hover{
    background-color: var(--interactive-light-2);
}

.project-name{
    margin-left: 5%;
    font-size: 2em;
    grid-column: 1/2;
    grid-row: 1/2;
}


.project-description{
    font-size: 1.2em;
    grid-column: 1/2;
    grid-row: 2/3;
}

.project-preview{
    width: 100px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;
}

/*-----------------*/
.skills{
    background-color: var(--background-dark);
    color: var(--font-light);
    height: 60vh;
    display: flex;
    flex-direction: row-reverse;
}

.skills h2{
    background-color: var(--background-dark-2);
}

.skills-list{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 3%;
}

/*-----------------*/
.skill{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    color: black; /* TODO a changer ?*/
    padding: 50px 15px;
    border-radius: 20px;
}

.skill-name{
    font-size: 1.5em;
    text-align: center;
}

.skill img{
    width: 100px;
}

.skill-more{
    text-wrap: wrap;
}

.skill1{
    background-color: #E54D2E;
    border-color: #6E2920;
}
.skill2{
    background-color: #30A46C;
    border-color: #20573E;
}
.skill3{
    background-color: #FFC53D;
    border-color: #8F6424;
}


/*-----------------*/
/*-----------------*/


/*-----------------*/
footer{
    height: 40vh;
    background-color: lightgreen;
}
