
footer{
    height: 40px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;

    color: var(--secondary-foreground);

}


.footer-all-navs{
    display: flex;
    flex-direction: row;
    gap: 30%;
}

.footer-nav{
    color: var(--secondary-foreground);

    cursor: pointer;

    transition: text-shadow 0.8s ease-in-out;
}

.footer-nav:hover{
    text-shadow: 0 0 10px var(--primary);
}