header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav{

    height: 100%;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    color: var(--font-dark);

    background-color: antiquewhite;

    transition: 2s;
}

.nav:hover{
    background-color:burlywood;
}