header{
    position: absolute;
    top: 0;
    align-self: center;   

    width: 70%;
    height: 40px;

    margin-top: 20px;
}

.nav-barre{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav{
    height: 100%;
    width: 20%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;
    color: var(--secondary-foreground);

    cursor: pointer;

    transition: text-shadow 0.8s ease-in-out;
}

.nav:hover{
    text-shadow: 0 0 10px var(--primary);
}

.selecteur{
    position: relative;
    left: 0;

    height: 5px;
    width: 100%;

    margin-top: 5px;

    box-shadow: 0 0 10px var(--primary);
    background-color: var(--primary);

    transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
}

