#section-myself {
  position: relative;

  display: flex;
  flex-direction: column;
}

#hero {

  flex-grow: 1;

  margin-top: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-centered {
  display: flex;
  flex-direction: column;

  transition: all 0.5s ease-in;
}

#presentation {
  align-self: center;

  display: flex;
  justify-content: space-between;
}

#presentation-text {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 7%;
}


#prenom {
  text-wrap: nowrap;

  color: var(--title);
  font-family: "Diastema regular";
  font-size: 6em;
}

#prenom-barre {
  height: 3px;

  background-color: var(--element);

  box-shadow: 0 0 10px var(--element);
}

#desc {
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 1.5em;
}

#profil-picture {
  align-self: center;

  width: 300px;
  height: auto;

  border-radius: 50%;

  box-shadow: 0 0 10px var(--light-shadow);
}

#social-media {
  align-self: center;

  width: max(30%, 400px);
  height: 40px;

  margin-top: 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.media {
  height: 100%;

  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 50%;

  cursor: pointer;

  box-shadow: 0 0 30px var(--highlight);

  filter: invert();

  transition: box-shadow 0.3s ease-in-out;
}

.media:hover {
  box-shadow: 0 0 10px var(--dark-shadow);
}
