
.myself{

    height: 100vh;
    min-height: 650px;

    display: flex;
    flex-direction: column;

    position: relative;

}

.hero{
    margin-top: 70px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.present{
    align-self: center;

    width: 70%;

    display: flex;
    gap: 30%;

}

.present-text{
    display: flex;
    flex-direction: column;
    gap: 7%;
    width: 50%;
}


.prenom{
  
    text-wrap: nowrap;

    font-family: 'Diastema regular';
    font-size: 6em;
    color: var(--foreground);
}

.prenom-barre {
    content: '';
    display: block;
    height: 3px;
    background-color: var(--primary);
    box-shadow: 0 0 10px var(--primary);
  }

.desc{
    padding-top: 20px;
    font-size: 1.5em;
}


.profil-picture{
    width: 300px;
    height:auto;
    align-self: center;
    border-radius: 50%;

    box-shadow: 0 0 10px var(--popover-foreground);
}


.social-media{
    align-self: center;
    width: max(30%,400px);
    height: 150px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.media{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.media-name {
    margin-top: 10%;
    width: 100%;
    
    text-align: center;
}

.media img {
    width: 40px;
    padding: 10px;
    
    border: solid 2px var(--ring);
    background-color: var(--secondary-foreground);
    border-radius: 100%;

    box-shadow: 0 0 10px var(--popover-foreground);

    cursor: pointer;

    transition: box-shadow 0.5s 0.3s ease-in-out,
                padding 1s ease-in-out,
                width 1s ease-in-out;
}



.media img:hover {
    
    padding: 20px;
    width: 50px;
    box-shadow: 0 0 25px var(--ring);

}