body {
  background: var(--background-1);
  background-attachment: fixed;
  background-size: cover;
}

.description {
  color: var(--light-font);
  font-family: "Urbanist";
}

h1 {
  font-family: "Diastema Regular";
  font-weight: normal;
  color: var(--title);
}

.button {
  background-color: var(--muted-element);
  color: var(--dark-element);
  border: solid 2px var(--highlight);
  box-shadow: 0 0 10px 2px var(--highlight);
  opacity: 0.5;

  transition: all 0.2s ease-in-out;
}

.button svg {
  fill: var(--dark-element);
  filter: drop-shadow(0 0 1px var(--dark-shadow));
}

.button:hover {
  opacity: 1;
  box-shadow: 0 0 5px 2px var(--highlight);
}

.button-help {
  color: var(--light-font);
  font-family: "Urbanist";
  font-weight: bold;

  background-color: var(--dark-shadow);
  box-shadow: 0 0 10px 10px var(--dark-shadow);

  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.button:hover .button-help {
  opacity: 100%;
}

.parameter span {
  color: var(--light-font);
  font-family: "Urbanist";
}

.title-parameters {
  color: var(--light-font);
  font-family: "Urbanist";
  font-weight: bold;
  transition: text-shadow 0.3 ease-out;
}
.parameters:hover .title-parameters {
  text-shadow: 0 0 5px var(--highlight);
}
.parameters {
  background-color: hsla(174 42% 5% / 0.5);
  outline: var(--dark-element) 1px solid;
  transition: all 0.3s ease-out;
  opacity: 0.7;
}

.parameters:hover {
  outline: var(--muted-element) 1px solid;
  opacity: 1;
}
