#navigation-barre {
  width: 100%;
  height: 50px;

  margin: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav {
  flex-grow: 1;

  text-align: center;
  font-size: 1.2em;
}

#navigation-selecteur {
  position: relative;
  left: 0;
  height: 3px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  #navigation-barre {
    width: 80%;
  }

  .nav{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  #navigation-barre {
    width: 60%;
  }
}
