#section-skills {
  display: flex;
  flex-direction: column;
}

#skills-title {
  text-align: center;
  font-size: 3em;
}

#skills-list {
  flex-grow: 1;
  margin: 30px 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.skill {
  width: 100%;
  max-width: 500px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.skill-infos {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.skill-name {
  margin-top: 10px;
  font-size: 1.3em;
  text-align: center;
}

.skill-img {
  width: 80px;
}

.skill-more {
  font-size: 0.9em;
  padding: 20px;
}

#skill-3 {
  overflow: visible;
  z-index: 11;
}

#skill-4 {
  z-index: 10;
}

#ocp {
  position: absolute;

  /* width: 70px; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 10px 10px 0 10px;

  right: 5%;
  top: -50px;

  transition: width 0.2s ease-out, height 0.2s ease-out;
}

#ocp-image {
  width: 60px;
}

#ocp-description {
  text-align: center;
  max-width: 160px;
  font-size: 0;
  opacity: 0;

  transition: font-size 0.2s ease-out, opacity 0.4s 0.2s ease-out;
}

#ocp:hover #ocp-description {
  font-size: 1em;
  padding-bottom: 10px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  #section-skills {
    flex-direction: row-reverse;
  }

  #skills-title {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 4em;
  }

  #skills-list {
    flex-direction: row;
  }

  .skill-infos {
    flex-direction: column;
    gap: 80px;
  }

  .skill-name {
    font-size: 1.5em;
  }

  .skill-more {
    font-size: 1em;
  }

  .skill-img {
    width: 120px;
  }

  .skill {
    max-width: 250px;
    height: 500px;
    gap: 20px;
  }

  #ocp {

    right: -50px;
    top: 30%;
  }
}

@media screen and (min-width: 1024px) {
  #skills-title {
    font-size: 8em;
  }

  #skills-list {
    margin: 30px 10%;
  }

  #ocp-image {
    width: 90px;
  }
}
