
.project {
    width: 100%;
    height: 25%;

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 50%;
    
    border-radius: 15px;
    
    color: var(--muted-dark-font);
    
    background-color: var(--muted-element);
    
    box-shadow: 0 0 5px 1px var(--dark-shadow);

    transition: all 1s ease-out,
                background-color 1s ease-in-out,
                color 0.5s ease-in-out,
                width 0.4s ease-in,
                height 0.4s ease-out;
}

.project:hover{
    width: 105%;
    height: 35%;

    color: var(--dark-font);
    
    box-shadow: 0 0 30px var(--highlight);
    
    background-color: var(--element);
}

.project-name{
    grid-column: 1/2;
    grid-row: 1/2;

    margin-left: 40px;

    display: flex;
    justify-items: center;
    align-items: center;
    
    font-size: 2em;
}

.project-description{
    grid-column: 1/2;
    grid-row: 2/3;
    
    padding-left: 20px;

    line-height: 1em;
    font-size: 1.2em;

    transition: all 0.5s ease-in-out;
}

.project:hover .project-description{
    line-height: 1.5em;
}

.project-preview{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.project:hover .project-img{
    box-shadow: 0 0 20px var(--dark-shadow);
}

.project-plus{
    padding: 7px;
    
    font-size: 0.8em;
    text-align: center;

    color: var(--dark-font);
    text-decoration: underline;
    
    background-color: var(--muted-element-bis);
    
    border: solid 1px var(--dark-element);
    
    cursor: pointer;
    
    transition: color 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
}

.project:hover .project-plus{
    color: var(--foreground);
    background-color: var(--dark-element);
}

.project:hover .project-plus:hover{
    color: var(--foreground);
    background-color: var(--on-click-dark);
}

.project-img{
    height: 70%;

    border: solid 1px var(--dark-element);
    
    box-shadow: 0 0 10px var(--dark-shadow);
    
    transition: all 0.8s ease-in-out;
}
