

.project {

    width: 100%;
    height: 25%;

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50% 50%;
    
    background-color: var(--muted-foreground);
    border-radius: 15px;
    
    color: var(--input);
    
    transition: all 1s ease-out,
                background-color 1s ease-in-out,
                color 0.5s ease-in-out,
                width 0.4s ease-in,
                height 0.4s ease-out;
}



.project:hover{
    
    width: 105%;
    height: 35%;

    box-shadow: 0 0 30px var(--ring);

    color: var(--primary-foreground);
    background-color: var(--ring);
}



.project-name{
    margin-left: 40px;
    grid-column: 1/2;
    grid-row: 1/2;

    font-size: 2em;

    display: flex;
    justify-items: center;
    align-items: center;
}


.project-description{
    padding-left: 20px;
    grid-column: 1/2;
    grid-row: 2/3;



    line-height: 1em;

    font-size: 1.2em;

    transition: all 0.5s ease-in-out;
}

.project:hover .project-description{
    line-height: 1.5em;
}

.project-preview{

    height: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.project:hover .project-img{
    box-shadow: 0 0 20px var(--primary-foreground);
}

.project-plus{
    font-size: 0.8em;
    text-align: center;
    padding: 7px;
    background-color: var(--card-foreground);
    
    border: solid 1px var(--card);
    
    cursor: pointer;
    
    transition: color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.project:hover .project-plus{
    color: var(--foreground);
    background-color: var(--primary-foreground);
}

.project:hover .project-plus:hover{
    color: var(--foreground);
    background-color: var(--accent);
    
}

.project-img{
    border: solid 1px var(--card);
    
    box-shadow: 0 0 10px var(--primary-foreground);
    height: 70%;
    transition: all 0.8s ease-in-out;
}
