
.projects {
    height: 100vh;

    display: flex;
    flex-direction: row;

    color: var(--secondary-foreground);
    
    background-image: url(../../../img/abstract-gradient-neon-lights.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
}

.projects-title{
    color: var(--ring);
    /* text-shadow: 0 0 5px var(--ring); */
}

.projects-list{
    min-width: 1200px;
    
    margin-left: 100px ;
    margin-right: 100px ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


