.projects {
    display: flex;
    flex-direction: row;

    background-color: var(--background-light);

    color: var(--font-dark);
}

.projects-title{
    background-color:var(--side-light);
}

.projects-list{
    min-width: 800px;
    width: 100%;
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
