.skill{
    width: 200px;
    padding: 50px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

    color: black; /* TODO a changer ?*/

    border-radius: 20px;
    
    border-style: solid;
    border-width: 5px;

    
    transition: translate 0.8s ease-out,
                box-shadow 0.1s ease-in-out;
}

.skill:hover{
    translate: 0 -20px;
}

.skill-name{
    font-size: 1.5em;
    
    text-align: center;
}

.skill img{
    width: 70%;
    filter: drop-shadow(3px 3px 2px var(--primary-foreground));
}

.skill-more{
    text-wrap: wrap;
}

.skill1{
    background-color: var(--skill-1-a);
    border-color: var(--skill-1-b);
    box-shadow: 15px 15px 10px var(--primary-foreground);
}
.skill2{
    background-color: var(--skill-2-a);
    border-color: var(--skill-2-b);
    box-shadow: 15px 15px 10px var(--primary-foreground);
}
.skill3{
    background-color: var(--skill-3-a);
    border-color: var(--skill-3-b);
    box-shadow: 15px 15px 10px var(--primary-foreground);
}

.skill1:hover{
    box-shadow: 15px 15px 10px var(--primary-foreground),
            0 0 30px var(--skill-1-a);
}
.skill2:hover{
    box-shadow: 15px 15px 10px var(--primary-foreground),
                0 0 30px var(--skill-2-a);
}
.skill3:hover{
    box-shadow: 15px 15px 10px var(--primary-foreground),
                0 0 30px var(--skill-3-a);
}



