.skill{
    width: 200px;
    padding: 50px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;

    color: black; /* TODO a changer ?*/

    border-radius: 20px;
}

.skill-name{
    font-size: 1.5em;
    
    text-align: center;
}

.skill img{
    width: 100px;
}

.skill-more{
    text-wrap: wrap;
}

.skill1{
    background-color: #E54D2E;
    border-color: #6E2920;
}
.skill2{
    background-color: #30A46C;
    border-color: #20573E;
}
.skill3{
    background-color: #FFC53D;
    border-color: #8F6424;
}


