
.skill{
    width: 300px;
    height: 700px;

    padding: 0 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 20px;
    border-style: solid;
    border-width: 8px;
    
    color: var(--dark-font);

    box-shadow: 15px 15px 10px 0px var(--dark-shadow);
    
    transition: all 0.8s ease-out;
}

/* //TODO */
.skill:hover{
    translate: -10px -10px;
    scale: 105%;
    box-shadow: 15px 15px 13px 13px var(--dark-shadow);
}

.skill-name{
    font-size: 2em;
    text-align: center;
    font-family: 'Diastema Regular';
    font-weight: bold;
}

.skill img{
    width: 70%;
}

.skill-more{
    text-wrap: wrap;
}

.skill1{

    background: linear-gradient( 30deg,var(--skill-1-b) -40%, var(--skill-1-a) 50%,var(--skill-1-b) 140%);
    border-color: var(--skill-1-b);
}

.skill2{
    background: linear-gradient( 30deg,var(--skill-2-b) -40%, var(--skill-2-a) 50%,var(--skill-2-b) 140%);
    border-color: var(--skill-2-b);
}

.skill3{
    background: linear-gradient( 30deg,var(--skill-3-b) -40%, var(--skill-3-a) 50%,var(--skill-3-b) 140%);
    border-color: var(--skill-3-b);
}
