#section-skills {
  height: 100vh;

  display: flex;
  flex-direction: row-reverse;
}

#skills-title {
  color: var(--title);
}

#skills-list {
  flex-grow: 1;

  margin: 50px 5% 0 5%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
