#hero-centered {
  transition: all 0.5s ease-in;
}

#prenom {
  color: var(--title);
  font-family: "Diastema regular";
}

#prenom-barre {
  background-color: var(--element);

  box-shadow: 0 0 10px var(--element);
}

#profil-picture {
  border-radius: 50%;

  box-shadow: 0 0 10px var(--light-shadow);
}

#download-cv-button img {
  border-radius: 30%;
  border: solid 5px var(--element);
  background-color: var(--element);
  cursor: pointer;

  box-shadow: 0 0 10px var(--highlight);

  transition: box-shadow 0.3s ease-in-out, border-radius 0.5s ease-in-out,
    background-color 0.3s ease-in-out;
}

#download-cv-button:hover img {
  border-radius: 5%;
  box-shadow: 0 0 20px var(--dark-shadow);

  animation: media-hover .5s ease-in-out;
  animation-fill-mode: forwards;


  background-color: var(--light-shadow);
}

.media {
  border-radius: 30%;
  border: solid 5px var(--element);
  background-color: var(--element);
  cursor: pointer;

  box-shadow: 0 0 10px var(--highlight);

  transition: box-shadow 0.3s ease-in-out, border-radius 0.5s ease-in-out,
    background-color 0.3s ease-in-out;
}

.media:hover {
  border-radius: 5%;
  box-shadow: 0 0 20px var(--dark-shadow);

  animation: media-hover .5s ease-in-out;
  animation-fill-mode: forwards;


  background-color: var(--light-shadow);
}

.media.activated {
  border-radius: 5%;
  box-shadow: 0 0 20px var(--dark-shadow);

  background-color: var(--light-shadow);
}

.scroll-down {
  transition: opacity 1s ease-in-out;
}
.scroll-down .chevron {
  filter: invert();
}

@keyframes media-hover {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
}
