:root {
  --title: hsl(231 28% 73%);

  --light-font: hsl(174 30% 85%);
  --dark-font: hsl(174 42% 5%);
  --muted-dark-font: hsl(229 10% 28%);

  --dark-shadow: hsl(174 42% 5%);
  /* utiliser pour toute les ombre ?? */
  --dark-shadow-transparent: hsla(174 42% 5% / 0.7); 
  --highlight: hsl(174 42% 65%);
  --light-shadow: hsl(231 28% 83%);

  --element: hsl(174 42% 65%);
  --muted-element: hsl(229 12% 74%);
  --muted-element-bis: hsl(231 28% 73%);
  --dark-element: hsl(174 42% 5%);

  --on-click-dark: hsl(229 20% 35%);

  --skill-1-a: #e54d2e;
  --skill-1-b: #6e2920;
  --skill-2-a: #30a46c;
  --skill-2-b: #20573e;
  --skill-3-a: #ffc53d;
  --skill-3-b: #8f6424;
  --skill-4-a: #0051ad;
  --skill-4-b: #003a92;
  --skill-5-a: #ffea3d;
  --skill-5-b: #8f8024;
}
