
.myself{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background: linear-gradient(45deg, var(--background-dark),var(--background-dark-2));

    color: var(--font-light);
}

.present{
    align-self: center;
    width: max(60%,1000px);
}

.im{
    padding-left: 10%;
  
    font-size: 3em;
}
.prenom{
    margin: -2% 0 0 0;
  
    font-family: 'Diastema regular';
    font-size: 10em;
    color: var(--font-light-2);
}

.desc{
    font-size: 1.8em;
}

.social-media{
    align-self: center;
    width: max(30%,400px);
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-name {
    margin-top: 10%;
    width: 100%;

    text-align: center;
}

.media img {
    width: 40px;
    padding: 10px;
    
    border: solid 2px var(--border);
    background-color: var(--font-light-2);
    border-radius: 100%;
}
