@font-face {
    font-family: 'Diastema regular';
    src: url('font/diastema/Diastema\ Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik regular';
    src: url('font/rubik/Rubik-Regular.ttf') format('truetype');
}