/* ::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: var(--accent);
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary-foreground);
    border-radius: 50px;
} */
