#game{
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.ligne{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.case{
    opacity: 0.2;
    flex-grow: 1;
    outline: 3px solid rgba(0,0,0,25);
}


.case.white{
    background-color: white;
}

.case.black{
    background-color: var(--dark-element);
}

body.disabled .case {
    opacity: 1;
}
