body.disabled h1 {
  opacity: 0;
}

body.disabled .parameters {
  opacity: 0;
}

body.disabled .description {
  opacity: 0;
}

body.disabled .button {
  opacity: 0.8;
}

body.disabled .button:hover {
  opacity: 1;
}

body.disabled .size-zone {
  opacity: 0;
}

body.disabled #game {
  z-index: 10;
}

body.disabled .button {
  z-index: 11;
}

body.disabled:not(:has(.play.play.running)) .case {
  cursor: pointer;
}

body.disabled:not(:has(.play.play.running)) .case.white:hover {
  background-color: #baf0ff;
}

body.disabled:not(:has(.play.play.running)) .case.black:hover {
  background-color: #005c76;
}
