body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 2.5em;
  width: 70%;
  transform: none;
}

.description {
  text-align: center;
  padding: 2rem 0;
}

.button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-button {
  top: 30px;
  right: 30px;
}

.home-button svg {
  width: 30px;
  height: 30px;
}
.switch-light {
  top: 100px;
  right: 30px;
}

.switch-light svg {
  width: 30px;
  height: 30px;
}

.switch-light.active img.active {
  display: block;
}

.switch-light.active img.inactive {
  display: none;
}

.switch-light.inactive img.active {
  display: none;
}

.switch-light.inactive img.inactive {
  display: block;
}

.reset {
  top: 170px;
  right: 30px;
}

.reset img {
  width: 30px;
  height: 30px;
}

.play {
  top: 240px;
  right: 30px;
}

.play img.play {
  width: 25px;
  height: 25px;
  transform: translateX(2px);
}

.play img.pause {
  width: 23px;
  height: 23px;
}

.play.running img.play {
  display: none;
}

.play:not(.running) img.pause {
  display: none;
}

.blank {
  top: 310px;
  right: 30px;
}

.blank img {
  width: 28px;
  height: 28px;
}

.size-zone {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-case-size {
  margin-top: 10px;
  width: 70%;
}

.size-value {
  font-size: 1.5em;
}

.size-info-value {
  font-size: 1.5em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#empty-space {
  flex-grow: 1;
}

#game {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 450px) {
  h1 {
    width: auto;
    transform: translateX(-10%);
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4em;
  }
  .slider-case-size {
    width: 30%;
  }
}
